#RewriteEngine on
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteBase /iva/aptio/public/
#RewriteRule ^(.*)$ public/index.php/$1 [QSA,L]



# valabile pe web server
#RewriteRule ^\.htaccess$ - [F]
#RewriteCond %{REQUEST_URI} =""
#RewriteRule ^.*$ /public/index.php [NC,L]
#RewriteCond %{REQUEST_URI} !^/public/.*$
#RewriteRule ^(.*)$ /public/$1
#RewriteCond %{REQUEST_FILENAME} -f
#RewriteRule ^.*$ - [NC,L]
#RewriteRule ^public/.*$ /public/index.php [NC,L]
